.header{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: white;
}
.header__logo{
    width: 10rem;
    transition: opacity 0.8s ease-in-out;
}
.header__top{
    display: flex;
    border-bottom: 0.05rem #E9E9E9;
    padding-bottom: 1.44rem;
    padding-top: 1.61rem;
    align-items: center;
}
.header__top_right{
    display: flex;
    align-items: center;
    position: relative;
    width: 10rem;
}
.header__search{
    background-image: url("../media/svg/Search.svg");
    box-sizing: border-box;
    background-size: cover;
    border: none;
    height: 0.89rem;
    width: 0.89rem;
    background-color: white;
    cursor: pointer;
    position: absolute;
    margin-left: 0.5rem;
    right: 0;
}
.header__text-field{
    font-size: 0.75rem;
    color: #4b4b4b;
    border: none;
    border-bottom: 0.0625rem solid #7d7d7d;
    position: absolute;
    left: 0;
    width: 0;
    visibility: hidden;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.header__bottom{
    border-bottom: 0.05rem solid #E9E9E9;
    justify-content: center;
    height: 3.20rem;
    width: 100%;
    font-weight: 500;
}
.header__select{
    cursor: pointer;
    box-sizing: border-box;
}
.header__select-body{
    width: max-content;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: 0.3s ease-in-out;
}
.header__link{
    text-decoration: none;
    color: black;
    outline: none;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
}
.header__link:hover{
    opacity: 0.55;
}
.header__select-header{
    display: flex;
    align-items: center;
}
.header__select-icon{
    margin-left: 0.28rem;
}
.header__select-icon-img{
    transform: translate(0,-25%);
}
@media(min-width:320px){
    .header{
        position: relative;
    }
    .header__search{
        transform: translateY(0);
    }
    .header__bottom{
        display: none;
    }
    .header__bottom_mobile{
        font-weight: 500;
        margin-top: 1rem;
        box-sizing: border-box;
        padding: 0 1.7rem;
    }
    .header__select{
        padding: 0.89rem 0;
        border-bottom: 0.05rem solid #E9E9E9;
        max-height: max-content;
    }
    .header__top{
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .header__top_right{
        display: none
    }
    .header__link{
        margin-top: 0.89rem;
    }
    .header__mobile{
        padding: 1.61rem 0 0 0;
        height: 100vh;
        width: 17.8rem;
        border: 0.05rem solid #E9E9E9;
        position: absolute;
        box-sizing: border-box;
        transition: 0.8s ease-in-out;
        z-index: 100;
        background-color: white;
        left: -17.8rem;
    }
    .header__mobile-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1.6rem 1.67rem;
        border: 0.05rem solid #E9E9E9;
    }
    .header__mobile-top, .header__logo{
        width: 8.9rem;
    }
    .header__burger{
        width: 1.27rem;
        position: relative;
        cursor: pointer;
        height: 0.89rem;
        display: flex;
        align-items: center;
    }
    .header__mobile-cross::before, .header__mobile-cross::after{
        height: 0.18rem;
        width: 100%;
        background-color: black;
        border-radius: 0.17rem;
        position: absolute;
        content: none;
    }
    .header__mobile-cross::before{
        transform: rotate(45deg);
    }
    .header__mobile-cross::after{
        transform: rotate(-45deg);
    }
    .header__close-btn{
        position: relative;
        width: 1.61rem;
        margin-right: 1.76rem;
    }
    .header__mobile{
        left: -17.8rem;
    }
    .header__burger-menu, .header__burger-menu::after, .header__burger-menu::before{
        width: 100%;
        position: absolute;
        height: 0.18rem;
        background-color: black;
        transition: 0.3s ease-in-out;
        border-radius: 0.17rem;
    }
    .header__burger-menu::after{
        content: "";
        top: 0.341rem;
    }
    .header__burger-menu::before{
        content: "";
        bottom: 0.341rem;
    }
}

@media(min-width:600px){
    .header__top{
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
    }
    .header__top_right{
        display: block;
    }
}

@media(min-width:1024px){
   .header{
        position: sticky;
        top: 0;
        transition: 0.5s ease-in-out;
    }
    .header__mobile{
        display: none;
    }
    .header__burger{
        display: none;
    }
    .header__top{
        position: relative;
        justify-content: center;
    }
    .header__top_right{
        position: absolute;
        right: 5rem;
    }
    .header__bottom{
        display: flex;
    }
    .header__link{
        margin-top: 0;
    }
    .header__select{
        position: relative;
        height: inherit;
        max-height: none;
        display: flex;
        border-bottom: none;
        margin-right: 1.8rem;
        padding: 0;
    }
    .header__select-body{
        position: absolute;
        border: 0.05rem solid #E9E9E9;
        border-top: none;
        padding: 1.1rem;
        margin-top: 3.2rem;
        height: max-content;
        box-sizing: border-box;
        background-color: white;
        top: 0;
    }
}