mixin topic-card(type, topic, image)
  .main__card
    .main__card-img
      img.main__card-picture(src=image alt="Изображения")
    .main__card-type=type 
    .main__card-topic=topic 
    .main__card-user
      span.main__card-author Niek Bove
      span.main__card-date April 8, 2018
      span.main__card-views 3k Views
    .main__card-description Structured gripped tape invisible mould
main 
  .main 
      +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/1.png")
      +topic-card("Lifestyle", "The Look: Perfect Balance", "../media/png/2.png")
      +topic-card("Style", "Fun Things to Do in Rome", "../media/png/3.png")
      +topic-card("Style", "F24 Colorful Ceilings That Add Unexpected Contrast to Any Room", "../media/png/4.png")
      +topic-card("Lifestyle", "9 New Songs to Heat Up Your Fall Playlist", "../media/png/5.png")
      +topic-card("Events", "What You Need on Your Bedside Table", "../media/png/6.png")
      +topic-card("Travel", "When Two Wheels Are Better Than Four", "../media/png/7.png")
      +topic-card("Travel", "26 Living Room Ideas from the Homes of Top Designers", "../media/png/8.png")
      +topic-card("Music", "What Makes Vour City's Style Unique", "../media/png/9.png")